{% extends  'base.html' %}

{% load static %}

{% block main %}
<header>
    <div class="center">
        <div class="logo">
            <h2>Taugor SP</h2>
        </div><!--logo-->
        <div class="menu">
            <a href="#">
                Quem Somos
            </a>
            <a href="#">
               Soluções
            </a>
            <a href="#">
                Contato
            </a>
        </div><!--menu-->
        <div class="menu-mobile">
            <i class="fas fa-bars menu-mobile-icon"></i>
            <div class="menu-items">
                <a href="">Home</a>
                <a href="">Sobre</a>
                <a href="">Contato</a>
            </div>
        </div>
    </div><!--center-->
</header>

<section class="sobre">
    <div class="center">
        <div class="chamada-sobre">
            <h2>Sobre a Taugor</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem.</p>
        </div><!--chamada-sobre-->
        <div class="conteudo-sobre">
            <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                 Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                
                <br />
                <span><i class="fas fa-check-double"></i> Item 1<br/></span>
                <span> <i class="fas fa-check-double"></i> Item 2<br/></span>
                </p>
            <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div><!--conteudo-sobre-->
    </div><!--center-->
</section><!--sobre-->

<section class="main">
    <div class="center">
        <div class="main__cta">
            <h2>Acelere a transformação digital na sua empresa e gere mais resultados.</h2>
            <p>Nossos sistemas e serviços permitem que empresas gerenciem documentos físicos e
                digitais de forma simples, eficiente e segura.</p>
            <br>
            <h2>Temos a confiança de grandes marcas no
                mercado</h2>

        </div><!--main-cta-->

        <div class="diferenciais">
            <div class="diferencial-single">
                <i class="fas fa-anchor"></i>
                <h2>Lorem ipsum</h2>
                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div><!--diferencial-single-->
            <div class="diferencial-single">
                <i class="fas fa-anchor"></i>
                <h2>Lorem ipsum</h2>
                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div><!--diferencial-single-->
            <div class="diferencial-single">
                <i class="fas fa-anchor"></i>
                <h2>Lorem ipsum</h2>
                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div><!--diferencial-single-->
            <div class="diferencial-single">
                <i class="fas fa-anchor"></i>
                <h2>Lorem ipsum</h2>
                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div><!--diferencial-single-->
        </div><!--diferenciais-->

    </div><!--center-->
</section><!--main-->

<section class="sobre-empreendedor">
    <div class="center">
        <img class="sobre-empreendedor-img" src="img/danki_bg.jpg" />
        <div class="sobre-empreendedor-content">
            <h2>Lorem ipsum de testes</h2>
            <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
           <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>     
        </div>
    </div><!--center-->
</section><!--sobre-empreendedor-->


<section class="conquistas">
    <div class="center">
        <div class="conquista-single" style="width:16%;margin-right: 9%;">
            <img src="https://picsum.photos/200/300" />
        </div>
        <div class="conquista-single" style="width:16%;margin-right: 9%;">
            <img src="https://picsum.photos/200/300" />
        </div>
        <div class="conquista-single" style="width:16%;margin-right: 9%;">
            <img src="https://picsum.photos/200/300" />
        </div>
        <div class="conquista-single" style="width:16%;margin-right: 9%;">
            <img src="https://picsum.photos/200/300" />
        </div>
    </div>
</section>

<div class="formulario">

    <form action="forms/contact.php" method="post" role="form" class="">
        <div class="">
          <input type="text" name="name" class="" id="name" placeholder="Nome" required>
        </div>
        <div class="">
          <input type="email" class="" name="email" id="email" placeholder="E-mail" required>
        </div>
      <div class="">
        <input type="text" class="" name="subject" id="subject" placeholder="Telefone" required>
      </div>
      <div class="">
        <textarea class="" name="message" rows="5" placeholder="Interesse" required></textarea>
      </div>

      <div class=""><button type="submit">Enviar</button></div>
    </form>

  </div>
<footer id="footer">


    <div class="">

        <div class="">
        <div class="">
            &copy; Copyright <strong><span>OnePage</span></strong>. All Rights Reserved
        </div>
        <div class="">

        </div>
        </div>
        <div class="redessociais">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>
    </footer><!-- End Footer -->
<script>

        var el = document.querySelector('.menu-mobile-icon');

        el.addEventListener('click',()=>{
            //Queremos mostrar o menu.
            var menuItems = document.querySelector('.menu-items');
            if(menuItems.classList.contains('show')){
                menuItems.classList.add('hide');
                menuItems.classList.remove('show');
            }else{
                menuItems.classList.add('show');
                menuItems.classList.remove('hide');
            }
        });

    </script>
{% endblock %}