{% extends  'base.html' %}

{% load static %}

{% block main %}
<header>
    <div class="center">
        <div class="logo">
            <h2>Taugor SP</h2>
        </div><!--logo-->
        <div class="menu">
            <a href="#">
                Quem Somos
            </a>
            <a href="#">
               Soluções
            </a>
            <a href="#formulario">
                Contato
            </a>
        </div><!--menu-->
        <div class="menu-mobile">
            <i class="fas fa-bars menu-mobile-icon"></i>
            <div class="menu-items">
                <a href="">Home</a>
                <a href="">Sobre</a>
                <a href="#formulario">Contato</a>
            </div>
        </div>
    </div><!--center-->
</header>

<section class="sobre">
    <div class="center">
        <div class="chamada-sobre">
            <h2>Taugor São Paulo Capital</h2>
            <p>Acelere a transformação digital na sua empresa e gere mais resultados.</p>
        </div><!--chamada-sobre-->
        <div class="conteudo-sobre">
            <p>Nossos sistemas e serviços permitem que empresas gerenciem documentos físicos e
            digitais de forma simples, eficiente e segura..
        </div><!--conteudo-sobre-->
    </div><!--center-->
</section><!--sobre-->

<section class="main">
    <div class="center">
        <div class="main__cta">

            <h2>Temos a confiança de grandes marcas no mercado</h2>
            <div class="row">
                <div class="column">
                    <img src="https://picsum.photos/200/300" alt="Snow" style="width:100%">
                </div>
                <div class="column">
                    <img src="https://picsum.photos/200/300" alt="Forest" style="width:100%">
                </div>
                <div class="column">
                    <img src="https://picsum.photos/200/300" alt="Mountains" style="width:100%">
                </div>
                <div class="column">
                    <img src="https://picsum.photos/200/300" alt="Mountains" style="width:100%">
                </div>
                <div class="column">
                    <img src="https://picsum.photos/200/300" alt="Mountains" style="width:100%">
                </div>
                <div class="column">
                    <img src="https://picsum.photos/200/300" alt="Mountains" style="width:100%">
                </div>
                <div class="column">
                    <img src="https://picsum.photos/200/300" alt="Mountains" style="width:100%">
                </div>
                <div class="column">
                    <img src="https://picsum.photos/200/300" alt="Mountains" style="width:100%">
                </div>
                <div class="column">
                    <img src="https://picsum.photos/200/300" alt="Mountains" style="width:100%">
                </div>
                <div class="column">
                    <img src="https://picsum.photos/200/300" alt="Mountains" style="width:100%">
                </div>
                <div class="column">
                    <img src="https://picsum.photos/200/300" alt="Mountains" style="width:100%">
                </div>
                <div class="column">
                    <img src="https://picsum.photos/200/300" alt="Mountains" style="width:100%">
                </div>
            </div>


         </div>

    </div><!--center-->
</section><!--main-->

<!--<section class="sobre-empreendedor">-->
<!--    <div class="center">-->
<!--        <img class="sobre-empreendedor-img" src="img/danki_bg.jpg" />-->
<!--        <div class="sobre-empreendedor-content">-->
<!--            <h2>Lorem ipsum de testes</h2>-->
<!--            <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. -->
<!--                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>-->
<!--           <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>     -->
<!--        </div>-->
<!--    </div>&lt;!&ndash;center&ndash;&gt;-->
<!--</section>&lt;!&ndash;sobre-empreendedor&ndash;&gt;-->


<section class="conquistas">
    <div class="center">
        <div class="conquista-single" style="width:16%;margin-right: 9%;">
            <img src="https://picsum.photos/200/300" />
        </div>
        <div class="conquista-single" style="width:16%;margin-right: 9%;">
            <img src="https://picsum.photos/200/300" />
        </div>
        <div class="conquista-single" style="width:16%;margin-right: 9%;">
            <img src="https://picsum.photos/200/300" />
        </div>
        <div class="conquista-single" style="width:16%;margin-right: 9%;">
            <img src="https://picsum.photos/200/300" />
        </div>

    </div>
</section>
<div class="formulario" id="formulario">

    <form action="forms/contact.php" method="post" role="form" class="">
        <div>
            <a> Formulário de contato</a>
        </div>
        <div class="">
          <input type="text" name="name" class="" id="name" placeholder="Nome" required>
        </div>
        <div class="">
          <input type="email" class="" name="email" id="email" placeholder="E-mail" required>
        </div>
      <div class="">
        <input type="text" class="" name="subject" id="subject" placeholder="Telefone" required>
      </div>
      <div class="">
        <textarea class="" name="message" rows="5" placeholder="Interesse" required></textarea>
      </div>

      <div class=""><button type="submit">Enviar</button></div>
    </form>

  </div>
<hr>
<footer class="rodape">

    <div class="social-icons">
        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
    </div>
    <p class="copyright">Coryright. Todos os direitos reservados</p>
    </footer>
<script>

        var el = document.querySelector('.menu-mobile-icon');

        el.addEventListener('click',()=>{
            //Queremos mostrar o menu.
            var menuItems = document.querySelector('.menu-items');
            if(menuItems.classList.contains('show')){
                menuItems.classList.add('hide');
                menuItems.classList.remove('show');
            }else{
                menuItems.classList.add('show');
                menuItems.classList.remove('hide');
            }
        });

    </script>
{% endblock %}